<meta charset="UTF-8">
<link rel="icon" href="img/rearseat_ico.ico" type="image/x-icon">
<title>RearSeat</title>

<!-- JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

<script src="js/navigation_bar.js"></script>
<link rel="stylesheet" type="text/css" href="css/navigation_bar.css">

<script src="{{ 'js/' ~ jsfile }}"></script>
<link rel="stylesheet" type="text/css" href="{{ 'css/' ~ cssfile }}">