<!DOCTYPE html>
<html>
    <head>
        {% include 'header.html' with {'jsfile' : 'index.js', 'cssfile' : 'index.css'} %}
    </head>
    <body onload="thisIs({{ user['id'] }});">
        {% include 'navigation_bar.html' %}
        <div id="title_filed">
            <p id="slogan">Share Seat, Make Friends</p>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-3">
                    <div id="search_field" class="input-group">
                        <input type="text" class="form-control" placeholder="高師大燕巢校區">
                        <div class="input-group-btn">
                            <button id="btn_select" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span id="select_option">找車位</span>
                                <span class="caret" style="margin-left: 5px;"></span>
                            </button>
                            <ul id="list_select" class="dropdown-menu dropdown-menu-right" role="menu">
                                <li><a style="cursor: pointer" onclick="selectOption('找車位')">找車位</a></li>
                                <li><a style="cursor: pointer" onclick="selectOption('分享車位')">分享車位</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1">
                    <button type="button" class="btn btn-default">出發！</button>
                </div>
            </div>
            <div id="menu" class="row">
                <div class="menu_child col-lg-2 col-lg-offset-2" onclick="goFindPage()">
                    <img src="/img/icon_moto.png" height="70">
                    <span class="menu_child_text">找車位</span>
                </div>
                <div class="menu_child col-lg-2 col-lg-offset-1" onclick="goSharePage()">
                    <img src="/img/icon_car.png" height="70">
                    <span class="menu_child_text">分享車位</span>
                </div>
                <div class="menu_child col-lg-2 col-lg-offset-1" onclick="goNewRequestPage()">
                    <img src="/img/icon_write.png" height="70">
                    <span class="menu_child_text">發起需求</span>
                </div>
            </div>
        </div>
        <div id="list_field" class="row">
            <div class="col-lg-5 col-lg-offset-1">
                <div class="list">
                    <div class="list_titlefield">
                        <span class="list_title">有人在找...</span>
                        <span class="list_more" id="find_more" onclick="goFindPage()">>>>more</span>
                    </div>
                    <div class="list_content">
                        <ul class="list-group">
                            {% for item in find %}
                            <li class="list-group-item list_item">
                                <div class="row">
                                    <div class="col-lg-2">
                                        <img src='{{ "data:image/png;base64, " ~ item["photo"] }}' height="60">
                                    </div>
                                    <div class="col-lg-10 list_item_text">
                                        {{item["go_time"] }}</br>
                                        {{item["starting_point"] }}
                                        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                                        {{item["end_point"] }}
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="list">
                    <div class="list_titlefield">
                        <span class="list_title">有人分享...</span>
                        <span class="list_more" id="share_more" onclick="goSharePage()">>>>more</span>
                    </div>
                    <div class="list_content">
                        <ul class="list-group">
                            {% for item in share %}
                            <li class="list-group-item list_item">
                                <div class="row">
                                    <div class="col-lg-2">
                                        <img src='{{ "data:image/png;base64, " ~ item["photo"] }}' height="60">
                                    </div>
                                    <div class="col-lg-10 list_item_text">
                                        {{item["go_time"] }}</br>
                                        {{item["starting_point"] }}
                                        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                                        {{item["end_point"] }}
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            CopyRight © 2016 Rainy & Linda 
        </div>
    </body>
</html>