<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
               <img id="rearseat_icon" src="/img/rearseat_png.png" height="35">
            </a>
            <a href="/">
                <p id="title" class="navbar-text">RearSeat</p>
            </a>
        </div>
        <div class="navbar-right">
            {% if user['id'] == null %}
                <button id="btn_login" type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#login_modal">Log in</button>
                <button id="btn_signup" type="button" class="btn btn-primary navbar-btn" data-toggle="modal" data-target="#signup_modal">Sign up</button>

                <!-- 登入視窗 -->
                <div class="modal fade" id="login_modal" tabindex="-1" role="dialog" aria-labelledby="login_modal_title" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">
                                    <span aria-hidden="true">&times;</span>
                                    <span class="sr-only">Close</span>
                                </button>
                                <h4 class="modal-title" id="login_modal_title">Sign in</h4>
                            </div>
                            <form method="post" action="login.php">
                                <div class="modal-body">    
                                    <input type="email" class="form-control" name="email" placeholder="Email"><br>
                                    <input type="password" class="form-control" name="password" placeholder="Password">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Sign in</button>
                                </div>
                            </form> 
                        </div>
                    </div>
                </div>

                <!-- 註冊視窗 -->
                <div class="modal fade" id="signup_modal" tabindex="-1" role="dialog" aria-labelledby="signup_modal_title" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">
                                    <span aria-hidden="true">&times;</span>
                                    <span class="sr-only">Close</span>
                                </button>
                                <h4 class="modal-title" id="signup_modal_title">Sign up</h4>
                            </div>
                            <form>
                                <div class="modal-body">    
                                    <input type="email" class="form-control" name="email" placeholder="Email"><br>
                                    <input type="password" class="form-control" name="password" placeholder="Password">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Sign in</button>
                                </div>
                            </form> 
                        </div>
                    </div>
                </div>
            {% else %}
                <ul class="nav navbar-nav">
                    <li style="cursor: pointer"><a>
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Request
                    </a></li>
                    <li style="cursor: pointer;" id="user">
                        <div class="dropdown">
                            <div class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                <img id="user_icon" src='{{ "data:image/png;base64, " ~ user["photo"] }}' height="35">
                                <span class="caret"></span>
                            </div>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation">
                                    <a role="menuitem" class="dropdown_item">My Profile</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" class="dropdown_item">Request</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" class="dropdown_item">RearSeat History</a>
                                </li>
                                <li role="presentation">
                                    <a href="logout.php" role="menuitem" class="dropdown_item">Logout</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>   
            {% endif %}
        </div>
    </div>

</nav>