<!DOCTYPE html>
<html>
    <head>
        {% include 'header.html' with {'jsfile' : 'profile.js', 'cssfile' : 'profile.css'} %}
    </head>
    <body onload="onload('{{tab}}')">
        {% include 'navigation_bar.html' %}
        <div class="container">
            <div class="row mainContainer">
                <div class="col-lg-3">
                    <div>
                        <img id="user_icon" src='{{ "data:image/png;base64, " ~ user["photo"] }}' height="250">
                    </div>
                    <div class="row">
                        <div class="col-lg-8 userName">
                            {{data['profile']['name']}}
                        </div>
                        {% if data['profile']['facebooe'] != null%}
                        <div class="col-lg-2">
                            <img src='img/facebook.png' height="30">
                        </div>
                        {% endif %}
                        {% if data['profile']['line'] != null%}
                        <div class="col-lg-1">
                            <img src='img/line.png' height="30">
                        </div>
                        {% endif %}
                    </div>
                    
                    <div class="row">
                        <div class="col-lg-8 userName">
                            {{data['profile']['email']}}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-4">
                            <center>
                            <img src='img/happy.png' height="40">
                            </center>
                        </div>
                        <div class="col-lg-4">
                            <center>
                            <img src='img/smile.png' height="40">
                            </center>
                        </div>
                        <div class="col-lg-4">
                            <center>
                            <img src='img/confused.png' height="40">
                            </center>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 scorefont">
                            <center>
                            <span>{{data['score']['good'] | length}}</span>
                            </center>
                        </div>
                        <div class="col-lg-4 scorefont">
                            <center>
                            <span>{{data['score']['soso'] | length}}</span>
                            </center>
                        </div>

                        <div class="col-lg-4 scorefont">
                            <center>
                            <span>{{data['score']['bad'] | length}}</span>
                            </center>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <ul class="nav nav-tabs">
                        <li id="profileTab"><a href="?">Profile</a></li>
                        <li id="requestTab"><a href="?tab=request">Request</a></li>
                        <li id="historyTab"><a href="?tab=history">History</a></li>
                    </ul>
                    <div class="tabContainer">
                        {% if tab == null %}
                            {% include 'profileForm.html' %}
                        {% endif %}
                        {% if tab == "request" %}
                            {% include 'requestTable.html' %}
                        {% endif %}
                        {% if tab == "history" %}
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                            選擇項目
                            <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" onclick="switchDiv('request')">我的需求</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" onclick="switchDiv('reservation')">我的預約</a></li>
                        </div>

                        <div id="reservationDiv" class="requestContainer">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="col-lg-2"><center>出發時間</center></th>
                                        <th class="col-lg-2"><center>出發地</center></th>
                                        <th class="col-lg-2"><center>目的地</center></th>
                                        <th class="col-lg-2"><center>期望報酬</center></th>
                                        <th class="col-lg-2"><center>獲得評價</center></th>
                                        <th class="col-lg-2"><center>給予評價</center></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in data['reservation'] %}
                                    <tr class='clickable-row' data-href='request.php?id={{ item["id"] }}'>
                                        <td><center>{{ item["go_time"] }}</center></td>
                                        <td><center>{{ item["starting_point"] }}</center></td>
                                        <td><center>{{ item["end_point"] }}</center></td>
                                        <td><center>{{ item["reward"] }}</center></td>
                                        <td><center>
                                            {% if item['score']['post'] == null %}
                                                尚未獲得評價
                                            {% elseif item['score']['post'] == 1 %}
                                                <img src='img/smile.png' height="20">
                                            {% elseif item['score']['post'] == 2 %}
                                                <img src='img/happy.png' height="20">
                                            {% else %}
                                                <img src='img/confused.png' height="20">
                                            {% endif %}
                                        </center></td>
                                        <td><center>
                                            {% if item['score']['receive'] == null %}
                                                <select class="form-control">
                                                    <option>優良</option>
                                                    <option>普通</option>
                                                    <option>糟糕</option>
                                                </select>
                                            {% elseif item['score']['receive'] == 1 %}
                                                <img src='img/smile.png' height="20">
                                            {% elseif item['score']['receive'] == 2 %}
                                                <img src='img/happy.png' height="20">
                                            {% else %}
                                                <img src='img/confused.png' height="20">
                                            {% endif %}
                                        </center></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <div id="requestDiv" class="requestContainer">
                           <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="col-lg-2"><center>出發時間</center></th>
                                        <th class="col-lg-2"><center>出發地</center></th>
                                        <th class="col-lg-2"><center>目的地</center></th>
                                        <th class="col-lg-2"><center>期望報酬</center></th>
                                        <th class="col-lg-2"><center>獲得評價</center></th>
                                        <th class="col-lg-2"><center>給予評價</center></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in data['request'] %}
                                    <tr class='clickable-row' data-href='request.php?id={{ item["id"] }}'>
                                        <td><center>{{ item["go_time"] }}</center></td>
                                        <td><center>{{ item["starting_point"] }}</center></td>
                                        <td><center>{{ item["end_point"] }}</center></td>
                                        <td><center>{{ item["reward"] }}</center></td>
                                        <td><center>
                                            {% if item['score']['post'] == null %}
                                                尚未獲得評價
                                            {% elseif item['score']['post'] == 1 %}
                                                <img src='img/smile.png' height="20">
                                            {% elseif item['score']['post'] == 2 %}
                                                <img src='img/happy.png' height="20">
                                            {% else %}
                                                <img src='img/confused.png' height="20">
                                            {% endif %}
                                        </center></td>
                                        <td><center>
                                            {% if item['score']['receive'] == null %}
                                                <select class="form-control">
                                                    <option>優良</option>
                                                    <option>普通</option>
                                                    <option>糟糕</option>
                                                </select>
                                            {% elseif item['score']['receive'] == 1 %}
                                                <img src='img/smile.png' height="20">
                                            {% elseif item['score']['receive'] == 2 %}
                                                <img src='img/happy.png' height="20">
                                            {% else %}
                                                <img src='img/confused.png' height="20">
                                            {% endif %}
                                        </center></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        

    </body>
</html>