<!DOCTYPE html>
<html>
    <head>
        {% include 'header.html' with {'jsfile' : 'request.js', 'cssfile' : 'request.css'} %}
    </head>
    <body>
        {% include 'navigation_bar.html' %}
        <div class="container">
            <div class="row mainContainer">
                <div class="col-lg-3">
                    <div>
                        <img id="user_icon" src='{{ "data:image/png;base64, " ~ user["photo"] }}' height="250">
                    </div>
                    <div class="row">
                        <div class="col-lg-8 userName">
                            {{data['profile']['name']}}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-4">
                            <center>
                            <img src='img/happy.png' height="40">
                            </center>
                        </div>
                        <div class="col-lg-4">
                            <center>
                            <img src='img/smile.png' height="40">
                            </center>
                        </div>
                        <div class="col-lg-4">
                            <center>
                            <img src='img/confused.png' height="40">
                            </center>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 scorefont">
                            <center>
                            <span>{{data['score']['good'] | length}}</span>
                            </center>
                        </div>
                        <div class="col-lg-4 scorefont">
                            <center>
                            <span>{{data['score']['soso'] | length}}</span>
                            </center>
                        </div>

                        <div class="col-lg-4 scorefont">
                            <center>
                            <span>{{data['score']['bad'] | length}}</span>
                            </center>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-lg-offset-1">
                    <div class="arrow_box">
                        <center>
                            {% if request == 0 %}
                            <div id="title">我要找車位</div>
                            {% else %}
                            <div id="title">我要分享車位</div>
                            {% endif %}
                        </center>
                        <div id="content">
                            {{data['seat']['go_time']}} 出發</br>
                            {{data['seat']['starting_point']}} 往 {{data['seat']['end_point']}}</br>
                            報酬是{{data['seat']['reward']}}</br></br>
                            另外...</br>
                            {{data['seat']['description']}}
                            <br>
                            {% if data['seat']['reporter'] != user['id']%}
                            <center>
                                <button class="btn btn-info" onclick="reservation(&quot;{{data['seat']['seat_id']}}&quot;, &quot;{{ user['id'] }}&quot;)">我要預約</button>
                            </center>
                            {% endif %}
                        </div>
                    </div>
                    <div class="list">
                        <div class="list_titlefield">
                            <span class="list_title">留言</span>
                        </div>
                        <div class="list_content">
                            <ul class="list-group">
                                {% for item in data['message'] %}
                                <li class="list-group-item list_item">
                                    <div class="row">
                                        <div class="col-lg-2">
                                            {% if item['photo'] == null %}
                                            <img src='img/no_photo.jpg' height="60">
                                            {% else %}
                                            <img src='{{ "data:image/png;base64, " ~ item["photo"] }}' height="60">
                                            {% endif %}    
                                        </div>
                                        <div class="col-lg-10 list_item_text">
                                            {{item["name"] }} {{item["post_time"] }}</br>
                                            {{item["message"] }}
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <form id="send_message" method="post" action="send_message.php" onsubmit="return warn()">
                        <div id="mes_title">我有話要說:</div>
                        <input type="hidden" name="to" value="{{data['seat']['seat_id']}}">
                        <input id="mes_mes" type="text" name="message" required><br>
                        <button id="mes_btn" type="submit" class="btn btn-default">送出！</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>