nav.navbar {
    margin-bottom: 0px;
}

div#title_filed {
    height: 450px;
    width: 100vw;
    background-image: url("../img/rearseat_bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}

p#slogan {
    font-size: 70px;
    padding-top: 60px;
    padding-left: 20vw;
    margin-bottom: 30px;
}

#btn_select,
#list_select{
    width: 100px; 
}

.dropdown-menu {
    min-width: 0px;
}

div#footer {
    height: 30px;
    background-color: #3e4f48;
    padding-top: 5px;
    text-align: center;
    color: white;
}

div#menu {
    margin-top: 120px;
}

div.menu_child {
    cursor: pointer;
}

span.menu_child_text {
    margin-left: 5px;
    font-family: "Microsoft JhengHei";
    font-size: 20px;
    font-weight: bold;
}

div#list_field {
    margin-top: 50px;
    margin-bottom: 30px;
}

div.list {
    margin-left: 5vw;
    width: 30vw;
}

div.list_titlefield {
    font-family: "Microsoft JhengHei";
    margin-bottom: 5px;
}

span.list_title {
    font-size: 20px;
    font-weight: bold;
}

span.list_more {
    cursor: pointer;
    font-size: 14px;
    margin-left: 17vw;
}

div.list_content {
    border-top-style: solid;
    border-width: 5px;
    border-color: #739e82;
}

li.list_item {
    cursor: pointer;
}

div.list_item_text {
    margin-top: 5px;
    font-family: "Microsoft JhengHei";
    font-size: 18px;
}