a.navbar-brand {
    padding-top: 7px; 
    padding-bottom: 5px; 
    padding-right: 5px;"
}

p#title {
    margin-left: 2px;
}

button#btn_signin,
button#btn_signup {
    margin-right: 10px;
}

li#user {
    margin-top: 7px;
    margin-left: 5px;
    margin-right: 10px;
}